<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form action="/agrega_comenta" method="post">
        <label for="nombre" class="form-label">Nombre :</label>
        <input type="text" class="form-input" id="nombre" name="nombre" placeholder="Nombre">
        <br><br>
        <label for="nombre" class="form-label">Contraseña:</label>
        <input type="text" class="form-input" id="contraseña" name="contraseña" placeholder="Contraseña">
        <br><br>
        <label for="nombre" class="form-label">Telefono:</label>
        <input type="text" class="form-input" id="telefono" name="telefono" placeholder="telefono">
        <br><br>
        <label for="nombre" class="form-label">Direcion:</label>
        <input type="text" class="form-input" id="direcion" name="direcion" placeholder="Direcion">
        <br><br>
        <label for="nombre" class="form-label">Nombre de usuario:</label>
        <input type="text" class="form-input" id="usuario" name="usuario" placeholder="Nombre de usuario">
        <br><br>
        <button type="submit">Enviar</button>
    </form>
</center>
</body>
</html>